
@{
    ViewBag.Title = "Category: " + ViewBag.categoryID;
}

<h2>@ViewBag.Title</h2>

<h3>Events</h3>

@if (ViewBag.eventList == null)
{
    <h4>No events found</h4>
}
else
{
    <div>
        <table id="t01">
            <thead>
            <th>Date</th>
            <th>Artist</th>
            <th>Location</th>

            </thead>
            

            @foreach (var item in ViewBag.eventList)
            {

                <tr>
                    <td>
                        @item.StartDate
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @(item.Venue.Name + ", " + item.Venue.City + ", " + item.Venue.Country.Name)
                    </td>


                </tr>

            }

        </table>
    </div>
}

